body {
    background: #eee;
    color: #000;
    font-size: 14px;
    line-height: 135%;
    text-align: justify;
}
del {
    background: #fae6e6;
}
ins {
    background: #ecfce6
}
a.footnote,
a.citation {
    font-size: 0.83em;
    vertical-align: super;
}

