/* CSS counter */

html {
    counter-reset: Theorem Lemma Proposition Definition Conjecture Example Postulate Problem Case;
}

/* style of "before" */
/** before plain or Definition **/
.Conjecture:before,.Corollary:before,.Definition:before,.Example:before,.Lemma:before,.Postulate:before,.Problem:before,.Proposition:before,.Theorem:before
{
	font-weight:700;
	font-style:normal
}
/** before Remark or proof **/
.Remark:before,.Note:before,.Case:before,.proof:before
{
	font-style:italic
}
/* content of "before" (everything goes here) */
.Corollary:before
{
	content:"Corollary."
}

.Lemma:before
{
	counter-increment: Lemma;
	content:"Lemma " counter(Lemma) ". "
}

.Proposition:before
{
	counter-increment: Proposition;
	content:"Proposition " counter(Proposition) ". "
}

.Theorem:before
{
	counter-increment: Theorem;
	content:"Theorem " counter(Theorem) ". "
}
.Definition:before
{
	counter-increment: Definition;
	content:"Definition " counter(Definition) ". "
}

.Conjecture:before
{
	counter-increment: Conjecture;
	content:"Conjecture " counter(Conjecture) ". "
}

.Example:before
{
	counter-increment: Example;
	content:"Example " counter(Example) ". "
}

.Postulate:before
{
	counter-increment: Postulate;
	content:"Postulate " counter(Postulate) ". "
}

.Problem:before
{
	counter-increment: Problem;
	content:"Problem " counter(Problem) ". "
}
.Remark:before
{
	content:"Remark."
}

.Note:before
{
	content:"Note."
}

.Case:before
{
	counter-increment: Case;
	content:"Case " counter(Case) ". "
}
.proof:before
{
	content:"Proof."
}
/* main style */
/** plain **/
.Corollary,.Lemma,.Proposition,.Theorem
{
	display:block;
	margin:12px 0;
	font-style:italic
}
/** Definition, Remark or proof **/
.Case,.Conjecture,.Definition,.Example,.Note,.Postulate,.Problem,.proof,.Remark
{
	display:block;
	margin:12px 0;
	font-style:normal
}
/* after proof */
.proof:after
{
	content:"\25FB";
	float:right
}