
body
{
	background-color: #fff;
	margin: 0;
	padding: 0;
	border: 0;
}

a
{
	outline: none;
}
p
{
	margin-top: 13px;
}
img
{
	border: none;
}

h1
{
     font: 300 29px/1.5 'open sans', san-serif;
	color: #444;
     text-rendering: optimizelegibility;
}

.low
{
     font: 12px/1.7 'open sans', san-serif;
	color: #333;
}
.low a
{
	color: #333;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #ccc;
}
.low a:hover 
{
	border: none;
}

.block
{
	clear: both;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px 20px;
}

