th {
    padding: 1px;
}
td {
    padding: 5px;
}

// From MultiMarkdown Composer 3
table {
    border: solid black;
    border-width: 2px 0px;
    empty-cells: hide;
    border-spacing: 0px;
    padding: 2px;
    margin: 20px auto;
}
table caption {
    margin: 5px;
    text-align: center;
    caption-side: bottom;
}
thead th {
    border: solid gray;
    border-width: 0 0 2px 0;
    padding: 5px;
}
thead > tr:last-child > th {
    border-style: none;
}
tbody > tr:first-child > td {
    border: solid gray;
    border-width: 1px 0 0 0;
}
tbody > tr:first-child > th {
    border: solid gray;
    border-width: 1px 0 0 0;
}
thead + tbody > tr:first-child > td {
    border: solid black;
    border-width: 1px 0 0 0;
}
thead + tbody > tr:first-child > th {
    border: solid black;
    border-width: 1px 0 0 0;
}